html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
iframe{display:block;width:100%;border:none;overflow-y:auto;overflow-x:hidden;}
body{color:#000000;background-color:#a8a8a8;font-size:.75em;font-family:"Courier New", Courier, monospace;margin:0;padding:0;<?php //background-image:url("../Content/Images/header.jpg"); ?>background-position:top center;background-repeat:no-repeat;}
a{color:#e8d29c;text-decoration:none;}
a:visited{color:#928e65;}
a:hover{color:#928e65;}
a:active{color:#928e65;}
a.gm_link{color:#cc99ff;}
a.gm_link:link{color:#cc99ff;}
a.gm_link:visited{color:#9966ff;text-decoration:none;}
a.gm_link:hover{color:#9966ff;text-decoration:none;}
p, ul{margin-bottom:10px;line-height:1.6em;}
h1, h2, h3, h4, h5, h6{color:#dddddd;font-family:"Lucida Console", Monaco, monospace;}
h1{font-size:2em;padding-bottom:0;margin-bottom:0;}
h2{font-size:1.6em;}
h3{font-size:1.4em;}
h4{font-size:1.1em;}
h5, h6{font-size:1em;}

.Icon{background:url("tileset.gif") repeat scroll 0 0 transparent;background-repeat:no-repeat;display:inline-table;height:16px;width:16px;vertical-align:middle;}
.x0y0{background-position:0px 0px;}
.x16y0{background-position:-16px 0px;}
.x32y0{background-position:-32px 0px;}
.x48y0{background-position:-48px 0px;}
.x64y0{background-position:-64px 0px;}
.x80y0{background-position:-80px 0px;}
.x96y0{background-position:-96px 0px;}
.x112y0{background-position:-112px 0px;}
.x128y0{background-position:-128px 0px;}
.x144y0{background-position:-144px 0px;}
.x160y0{background-position:-160px 0px;}
.x176y0{background-position:-176px 0px;}
.x192y0{background-position:-192px 0px;}
.x0y16{background-position:0px -16px;}
.x16y16{background-position:-16px -16px;}
.x32y16{background-position:-32px -16px;}
.x48y16{background-position:-48px -16px;}
.x64y16{background-position:-64px -16px;}
.x80y16{background-position:-80px -16px;}
.x96y16{background-position:-96px -16px;}
.x112y16{background-position:-112px -16px;}
.x128y16{background-position:-128px -16px;}
.x144y16{background-position:-144px -16px;}
.x160y16{background-position:-160px -16px;}
.x176y16{background-position:-176px -16px;}
.x192y16{background-position:-192px -16px;}
.x0y32{background-position:0px -32px;}
.x16y32{background-position:-16px -32px;}
.x32y32{background-position:-32px -32px;}
.x48y32{background-position:-48px -32px;}
.x64y32{background-position:-64px -32px;}
.x80y32{background-position:-80px -32px;}
.x96y32{background-position:-96px -32px;}
.x112y32{background-position:-112px -32px;}
.x128y32{background-position:-128px -32px;}
.x144y32{background-position:-144px -32px;}
.x160y32{background-position:-160px -32px;}
.x176y32{background-position:-176px -32px;}
.x192y32{background-position:-192px -32px;}
.x0y48{background-position:0px -48px;}
.x16y48{background-position:-16px -48px;}
.x32y48{background-position:-32px -48px;}
.x48y48{background-position:-48px -48px;}
.x64y48{background-position:-64px -48px;}
.x80y48{background-position:-80px -48px;}
.x96y48{background-position:-96px -48px;}
.x112y48{background-position:-112px -48px;}
.x128y48{background-position:-128px -48px;}
.x144y48{background-position:-144px -48px;}
.x160y48{background-position:-160px -48px;}
.x176y48{background-position:-176px -48px;}
.x192y48{background-position:-192px -48px;}
.x0y64{background-position:0px -64px;}
.x16y64{background-position:-16px -64px;}
.x32y64{background-position:-32px -64px;}
.x48y64{background-position:-48px -64px;}
.x64y64{background-position:-64px -64px;}
.x80y64{background-position:-80px -64px;}
.x96y64{background-position:-96px -64px;}
.x112y64{background-position:-112px -64px;}
.x128y64{background-position:-128px -64px;}
.x144y64{background-position:-144px -64px;}
.x160y64{background-position:-160px -64px;}
.x176y64{background-position:-176px -64px;}
.x192y64{background-position:-192px -64px;}
.x0y80{background-position:0px -80px;}
.x16y80{background-position:-16px -80px;}
.x32y80{background-position:-32px -80px;}
.x48y80{background-position:-48px -80px;}
.x64y80{background-position:-64px -80px;}
.x80y80{background-position:-80px -80px;}
.x96y80{background-position:-96px -80px;}
.x112y80{background-position:-112px -80px;}
.x128y80{background-position:-128px -80px;}
.x144y80{background-position:-144px -80px;}
.x160y80{background-position:-160px -80px;}
.x176y80{background-position:-176px -80px;}
.x192y80{background-position:-192px -80px;}
.x0y96{background-position:0px -96px;}
.x16y96{background-position:-16px -96px;}
.x32y96{background-position:-32px -96px;}
.x48y96{background-position:-48px -96px;}
.x64y96{background-position:-64px -96px;}
.x80y96{background-position:-80px -96px;}
.x96y96{background-position:-96px -96px;}
.x112y96{background-position:-112px -96px;}
.x128y96{background-position:-128px -96px;}
.x144y96{background-position:-144px -96px;}
.x160y96{background-position:-160px -96px;}
.x176y96{background-position:-176px -96px;}
.x192y96{background-position:-192px -96px;}
.x0y112{background-position:0px -112px;}
.x16y112{background-position:-16px -112px;}
.x32y112{background-position:-32px -112px;}
.x48y112{background-position:-48px -112px;}
.x64y112{background-position:-64px -112px;}
.x80y112{background-position:-80px -112px;}
.x96y112{background-position:-96px -112px;}
.x112y112{background-position:-112px -112px;}
.x128y112{background-position:-128px -112px;}
.x144y112{background-position:-144px -112px;}
.x160y112{background-position:-160px -112px;}
.x176y112{background-position:-176px -112px;}
.x192y112{background-position:-192px -112px;}
.x0y128{background-position:0px -128px;}
.x16y128{background-position:-16px -128px;}
.x32y128{background-position:-32px -128px;}
.x48y128{background-position:-48px -128px;}
.x64y128{background-position:-64px -128px;}
.x80y128{background-position:-80px -128px;}
.x96y128{background-position:-96px -128px;}
.x112y128{background-position:-112px -128px;}
.x128y128{background-position:-128px -128px;}
.x144y128{background-position:-144px -128px;}
.x160y128{background-position:-160px -128px;}
.x176y128{background-position:-176px -128px;}
.x192y128{background-position:-192px -128px;}
.x0y144{background-position:0px -144px;}
.x16y144{background-position:-16px -144px;}
.x32y144{background-position:-32px -144px;}
.x48y144{background-position:-48px -144px;}
.x64y144{background-position:-64px -144px;}
.x80y144{background-position:-80px -144px;}
.x96y144{background-position:-96px -144px;}
.x112y144{background-position:-112px -144px;}
.x128y144{background-position:-128px -144px;}
.x144y144{background-position:-144px -144px;}
.x160y144{background-position:-160px -144px;}
.x176y144{background-position:-176px -144px;}
.x192y144{background-position:-192px -144px;}
.x0y160{background-position:0px -160px;}
.x16y160{background-position:-16px -160px;}
.x32y160{background-position:-32px -160px;}
.x48y160{background-position:-48px -160px;}
.x64y160{background-position:-64px -160px;}
.x80y160{background-position:-80px -160px;}
.x96y160{background-position:-96px -160px;}
.x112y160{background-position:-112px -160px;}
.x128y160{background-position:-128px -160px;}
.x144y160{background-position:-144px -160px;}
.x160y160{background-position:-160px -160px;}
.x176y160{background-position:-176px -160px;}
.x192y160{background-position:-192px -160px;}
.x0y176{background-position:0px -176px;}
.x16y176{background-position:-16px -176px;}
.x32y176{background-position:-32px -176px;}
.x48y176{background-position:-48px -176px;}
.x64y176{background-position:-64px -176px;}
.x80y176{background-position:-80px -176px;}
.x96y176{background-position:-96px -176px;}
.x112y176{background-position:-112px -176px;}
.x128y176{background-position:-128px -176px;}
.x144y176{background-position:-144px -176px;}
.x160y176{background-position:-160px -176px;}
.x176y176{background-position:-176px -176px;}
.x192y176{background-position:-192px -176px;}
.x0y192{background-position:0px -192px;}
.x16y192{background-position:-16px -192px;}
.x32y192{background-position:-32px -192px;}
.x48y192{background-position:-48px -192px;}
.x64y192{background-position:-64px -192px;}
.x80y192{background-position:-80px -192px;}
.x96y192{background-position:-96px -192px;}
.x112y192{background-position:-112px -192px;}
.x128y192{background-position:-128px -192px;}
.x144y192{background-position:-144px -192px;}
.x160y192{background-position:-160px -192px;}
.x176y192{background-position:-176px -192px;}
.x192y192{background-position:-192px -192px;}
.x0y208{background-position:0px -208px;}
.x16y208{background-position:-16px -208px;}
.x32y208{background-position:-32px -208px;}
.x48y208{background-position:-48px -208px;}
.x64y208{background-position:-64px -208px;}
.x80y208{background-position:-80px -208px;}
.x96y208{background-position:-96px -208px;}
.x112y208{background-position:-112px -208px;}
.x128y208{background-position:-128px -208px;}
.x144y208{background-position:-144px -208px;}
.x160y208{background-position:-160px -208px;}
.x176y208{background-position:-176px -208px;}
.x192y208{background-position:-192px -208px;}
.x0y224{background-position:0px -224px;}
.x16y224{background-position:-16px -224px;}
.x32y224{background-position:-32px -224px;}
.x48y224{background-position:-48px -224px;}
.x64y224{background-position:-64px -224px;}
.x80y224{background-position:-80px -224px;}
.x96y224{background-position:-96px -224px;}
.x112y224{background-position:-112px -224px;}
.x128y224{background-position:-128px -224px;}
.x144y224{background-position:-144px -224px;}
.x160y224{background-position:-160px -224px;}
.x176y224{background-position:-176px -224px;}
.x192y224{background-position:-192px -224px;}
.x0y240{background-position:0px -240px;}
.x16y240{background-position:-16px -240px;}
.x32y240{background-position:-32px -240px;}
.x48y240{background-position:-48px -240px;}
.x64y240{background-position:-64px -240px;}
.x80y240{background-position:-80px -240px;}
.x96y240{background-position:-96px -240px;}
.x112y240{background-position:-112px -240px;}
.x128y240{background-position:-128px -240px;}
.x144y240{background-position:-144px -240px;}
.x160y240{background-position:-160px -240px;}
.x176y240{background-position:-176px -240px;}
.x192y240{background-position:-192px -240px;}
.x0y256{background-position:0px -256px;}
.x16y256{background-position:-16px -256px;}
.x32y256{background-position:-32px -256px;}
.x48y256{background-position:-48px -256px;}
.x64y256{background-position:-64px -256px;}
.x80y256{background-position:-80px -256px;}
.x96y256{background-position:-96px -256px;}
.x112y256{background-position:-112px -256px;}
.x128y256{background-position:-128px -256px;}
.x144y256{background-position:-144px -256px;}
.x160y256{background-position:-160px -256px;}
.x176y256{background-position:-176px -256px;}
.x192y256{background-position:-192px -256px;}
.x0y272{background-position:0px -272px;}
.x16y272{background-position:-16px -272px;}
.x32y272{background-position:-32px -272px;}
.x48y272{background-position:-48px -272px;}
.x64y272{background-position:-64px -272px;}
.x80y272{background-position:-80px -272px;}
.x96y272{background-position:-96px -272px;}
.x112y272{background-position:-112px -272px;}
.x128y272{background-position:-128px -272px;}
.x144y272{background-position:-144px -272px;}
.x160y272{background-position:-160px -272px;}
.x176y272{background-position:-176px -272px;}
.x192y272{background-position:-192px -272px;}
.x0y288{background-position:0px -288px;}
.x16y288{background-position:-16px -288px;}
.x32y288{background-position:-32px -288px;}
.x48y288{background-position:-48px -288px;}
.x64y288{background-position:-64px -288px;}
.x80y288{background-position:-80px -288px;}
.x96y288{background-position:-96px -288px;}
.x112y288{background-position:-112px -288px;}
.x128y288{background-position:-128px -288px;}
.x144y288{background-position:-144px -288px;}
.x160y288{background-position:-160px -288px;}
.x176y288{background-position:-176px -288px;}
.x192y288{background-position:-192px -288px;}
.x0y304{background-position:0px -304px;}
.x16y304{background-position:-16px -304px;}
.x32y304{background-position:-32px -304px;}
.x48y304{background-position:-48px -304px;}
.x64y304{background-position:-64px -304px;}
.x80y304{background-position:-80px -304px;}
.x96y304{background-position:-96px -304px;}
.x112y304{background-position:-112px -304px;}
.x128y304{background-position:-128px -304px;}
.x144y304{background-position:-144px -304px;}
.x160y304{background-position:-160px -304px;}
.x176y304{background-position:-176px -304px;}
.x192y304{background-position:-192px -304px;}
.x0y320{background-position:0px -320px;}
.x16y320{background-position:-16px -320px;}
.x32y320{background-position:-32px -320px;}
.x48y320{background-position:-48px -320px;}
.x64y320{background-position:-64px -320px;}
.x80y320{background-position:-80px -320px;}
.x96y320{background-position:-96px -320px;}
.x112y320{background-position:-112px -320px;}
.x128y320{background-position:-128px -320px;}
.x144y320{background-position:-144px -320px;}
.x160y320{background-position:-160px -320px;}
.x176y320{background-position:-176px -320px;}
.x192y320{background-position:-192px -320px;}
.x0y336{background-position:0px -336px;}
.x16y336{background-position:-16px -336px;}
.x32y336{background-position:-32px -336px;}
.x48y336{background-position:-48px -336px;}
.x64y336{background-position:-64px -336px;}
.x80y336{background-position:-80px -336px;}
.x96y336{background-position:-96px -336px;}
.x112y336{background-position:-112px -336px;}
.x128y336{background-position:-128px -336px;}
.x144y336{background-position:-144px -336px;}
.x160y336{background-position:-160px -336px;}
.x176y336{background-position:-176px -336px;}
.x192y336{background-position:-192px -336px;}
.x0y352{background-position:0px -352px;}
.x16y352{background-position:-16px -352px;}
.x32y352{background-position:-32px -352px;}
.x48y352{background-position:-48px -352px;}
.x64y352{background-position:-64px -352px;}
.x80y352{background-position:-80px -352px;}
.x96y352{background-position:-96px -352px;}
.x112y352{background-position:-112px -352px;}
.x128y352{background-position:-128px -352px;}
.x144y352{background-position:-144px -352px;}
.x160y352{background-position:-160px -352px;}
.x176y352{background-position:-176px -352px;}
.x192y352{background-position:-192px -352px;}
.x0y368{background-position:0px -368px;}
.x16y368{background-position:-16px -368px;}
.x32y368{background-position:-32px -368px;}
.x48y368{background-position:-48px -368px;}
.x64y368{background-position:-64px -368px;}
.x80y368{background-position:-80px -368px;}
.x96y368{background-position:-96px -368px;}
.x112y368{background-position:-112px -368px;}
.x128y368{background-position:-128px -368px;}
.x144y368{background-position:-144px -368px;}
.x160y368{background-position:-160px -368px;}
.x176y368{background-position:-176px -368px;}
.x192y368{background-position:-192px -368px;}
.x0y384{background-position:0px -384px;}
.x16y384{background-position:-16px -384px;}
.x32y384{background-position:-32px -384px;}
.x48y384{background-position:-48px -384px;}
.x64y384{background-position:-64px -384px;}
.x80y384{background-position:-80px -384px;}
.x96y384{background-position:-96px -384px;}
.x112y384{background-position:-112px -384px;}
.x128y384{background-position:-128px -384px;}
.x144y384{background-position:-144px -384px;}
.x160y384{background-position:-160px -384px;}
.x176y384{background-position:-176px -384px;}
.x192y384{background-position:-192px -384px;}
.x0y400{background-position:0px -400px;}
.x16y400{background-position:-16px -400px;}
.x32y400{background-position:-32px -400px;}
.x48y400{background-position:-48px -400px;}
.x64y400{background-position:-64px -400px;}
.x80y400{background-position:-80px -400px;}
.x96y400{background-position:-96px -400px;}
.x112y400{background-position:-112px -400px;}
.x128y400{background-position:-128px -400px;}
.x144y400{background-position:-144px -400px;}
.x160y400{background-position:-160px -400px;}
.x176y400{background-position:-176px -400px;}
.x192y400{background-position:-192px -400px;}
.x0y416{background-position:0px -416px;}
.x16y416{background-position:-16px -416px;}
.x32y416{background-position:-32px -416px;}
.x48y416{background-position:-48px -416px;}
.x64y416{background-position:-64px -416px;}
.x80y416{background-position:-80px -416px;}
.x96y416{background-position:-96px -416px;}
.x112y416{background-position:-112px -416px;}
.x128y416{background-position:-128px -416px;}
.x144y416{background-position:-144px -416px;}
.x160y416{background-position:-160px -416px;}
.x176y416{background-position:-176px -416px;}
.x192y416{background-position:-192px -416px;}
.x0y432{background-position:0px -432px;}
.x16y432{background-position:-16px -432px;}
.x32y432{background-position:-32px -432px;}
.x48y432{background-position:-48px -432px;}
.x64y432{background-position:-64px -432px;}
.x80y432{background-position:-80px -432px;}
.x96y432{background-position:-96px -432px;}
.x112y432{background-position:-112px -432px;}
.x128y432{background-position:-128px -432px;}
.x144y432{background-position:-144px -432px;}
.x160y432{background-position:-160px -432px;}
.x176y432{background-position:-176px -432px;}
.x192y432{background-position:-192px -432px;}
.x0y448{background-position:0px -448px;}
.x16y448{background-position:-16px -448px;}
.x32y448{background-position:-32px -448px;}
.x48y448{background-position:-48px -448px;}
.x64y448{background-position:-64px -448px;}
.x80y448{background-position:-80px -448px;}
.x96y448{background-position:-96px -448px;}
.x112y448{background-position:-112px -448px;}
.x128y448{background-position:-128px -448px;}
.x144y448{background-position:-144px -448px;}
.x160y448{background-position:-160px -448px;}
.x176y448{background-position:-176px -448px;}
.x192y448{background-position:-192px -448px;}
.x0y464{background-position:0px -464px;}
.x16y464{background-position:-16px -464px;}
.x32y464{background-position:-32px -464px;}
.x48y464{background-position:-48px -464px;}
.x64y464{background-position:-64px -464px;}
.x80y464{background-position:-80px -464px;}
.x96y464{background-position:-96px -464px;}
.x112y464{background-position:-112px -464px;}
.x128y464{background-position:-128px -464px;}
.x144y464{background-position:-144px -464px;}
.x160y464{background-position:-160px -464px;}
.x176y464{background-position:-176px -464px;}
.x192y464{background-position:-192px -464px;}
.x0y480{background-position:0px -480px;}
.x16y480{background-position:-16px -480px;}
.x32y480{background-position:-32px -480px;}
.x48y480{background-position:-48px -480px;}
.x64y480{background-position:-64px -480px;}
.x80y480{background-position:-80px -480px;}
.x96y480{background-position:-96px -480px;}
.x112y480{background-position:-112px -480px;}
.x128y480{background-position:-128px -480px;}
.x144y480{background-position:-144px -480px;}
.x160y480{background-position:-160px -480px;}
.x176y480{background-position:-176px -480px;}
.x192y480{background-position:-192px -480px;}
.x0y496{background-position:0px -496px;}
.x16y496{background-position:-16px -496px;}
.x32y496{background-position:-32px -496px;}
.x48y496{background-position:-48px -496px;}
.x64y496{background-position:-64px -496px;}
.x80y496{background-position:-80px -496px;}
.x96y496{background-position:-96px -496px;}
.x112y496{background-position:-112px -496px;}
.x128y496{background-position:-128px -496px;}
.x144y496{background-position:-144px -496px;}
.x160y496{background-position:-160px -496px;}
.x176y496{background-position:-176px -496px;}
.x192y496{background-position:-192px -496px;}
.x0y512{background-position:0px -512px;}
.x16y512{background-position:-16px -512px;}
.x32y512{background-position:-32px -512px;}
.x48y512{background-position:-48px -512px;}
.x64y512{background-position:-64px -512px;}
.x80y512{background-position:-80px -512px;}
.x96y512{background-position:-96px -512px;}
.x112y512{background-position:-112px -512px;}
.x128y512{background-position:-128px -512px;}
.x144y512{background-position:-144px -512px;}
.x160y512{background-position:-160px -512px;}
.x176y512{background-position:-176px -512px;}
.x192y512{background-position:-192px -512px;}
.x0y528{background-position:0px -528px;}
.x16y528{background-position:-16px -528px;}
.x32y528{background-position:-32px -528px;}
.x48y528{background-position:-48px -528px;}
.x64y528{background-position:-64px -528px;}
.x80y528{background-position:-80px -528px;}
.x96y528{background-position:-96px -528px;}
.x112y528{background-position:-112px -528px;}
.x128y528{background-position:-128px -528px;}
.x144y528{background-position:-144px -528px;}
.x160y528{background-position:-160px -528px;}
.x176y528{background-position:-176px -528px;}
.x192y528{background-position:-192px -528px;}
.x0y544{background-position:0px -544px;}
.x16y544{background-position:-16px -544px;}
.x32y544{background-position:-32px -544px;}
.x48y544{background-position:-48px -544px;}
.x64y544{background-position:-64px -544px;}
.x80y544{background-position:-80px -544px;}
.x96y544{background-position:-96px -544px;}
.x112y544{background-position:-112px -544px;}
.x128y544{background-position:-128px -544px;}
.x144y544{background-position:-144px -544px;}
.x160y544{background-position:-160px -544px;}
.x176y544{background-position:-176px -544px;}
.x192y544{background-position:-192px -544px;}
.x0y560{background-position:0px -560px;}
.x16y560{background-position:-16px -560px;}
.x32y560{background-position:-32px -560px;}
.x48y560{background-position:-48px -560px;}
.x64y560{background-position:-64px -560px;}
.x80y560{background-position:-80px -560px;}
.x96y560{background-position:-96px -560px;}
.x112y560{background-position:-112px -560px;}
.x128y560{background-position:-128px -560px;}
.x144y560{background-position:-144px -560px;}
.x160y560{background-position:-160px -560px;}
.x176y560{background-position:-176px -560px;}
.x192y560{background-position:-192px -560px;}
.x0y576{background-position:0px -576px;}
.x16y576{background-position:-16px -576px;}
.x32y576{background-position:-32px -576px;}
.x48y576{background-position:-48px -576px;}
.x64y576{background-position:-64px -576px;}
.x80y576{background-position:-80px -576px;}
.x96y576{background-position:-96px -576px;}
.x112y576{background-position:-112px -576px;}
.x128y576{background-position:-128px -576px;}
.x144y576{background-position:-144px -576px;}
.x160y576{background-position:-160px -576px;}
.x176y576{background-position:-176px -576px;}
.x192y576{background-position:-192px -576px;}
.x0y592{background-position:0px -592px;}
.x16y592{background-position:-16px -592px;}
.x32y592{background-position:-32px -592px;}
.x48y592{background-position:-48px -592px;}
.x64y592{background-position:-64px -592px;}
.x80y592{background-position:-80px -592px;}
.x96y592{background-position:-96px -592px;}
.x112y592{background-position:-112px -592px;}
.x128y592{background-position:-128px -592px;}
.x144y592{background-position:-144px -592px;}
.x160y592{background-position:-160px -592px;}
.x176y592{background-position:-176px -592px;}
.x192y592{background-position:-192px -592px;}
.x0y608{background-position:0px -608px;}
.x16y608{background-position:-16px -608px;}
.x32y608{background-position:-32px -608px;}
.x48y608{background-position:-48px -608px;}
.x64y608{background-position:-64px -608px;}
.x80y608{background-position:-80px -608px;}
.x96y608{background-position:-96px -608px;}
.x112y608{background-position:-112px -608px;}
.x128y608{background-position:-128px -608px;}
.x144y608{background-position:-144px -608px;}
.x160y608{background-position:-160px -608px;}
.x176y608{background-position:-176px -608px;}
.x192y608{background-position:-192px -608px;}
.x0y624{background-position:0px -624px;}
.x16y624{background-position:-16px -624px;}
.x32y624{background-position:-32px -624px;}
.x48y624{background-position:-48px -624px;}
.x64y624{background-position:-64px -624px;}
.x80y624{background-position:-80px -624px;}
.x96y624{background-position:-96px -624px;}
.x112y624{background-position:-112px -624px;}
.x128y624{background-position:-128px -624px;}
.x144y624{background-position:-144px -624px;}
.x160y624{background-position:-160px -624px;}
.x176y624{background-position:-176px -624px;}
.x192y624{background-position:-192px -624px;}
.x0y640{background-position:0px -640px;}
.x16y640{background-position:-16px -640px;}
.x32y640{background-position:-32px -640px;}
.x48y640{background-position:-48px -640px;}
.x64y640{background-position:-64px -640px;}
.x80y640{background-position:-80px -640px;}
.x96y640{background-position:-96px -640px;}
.x112y640{background-position:-112px -640px;}
.x128y640{background-position:-128px -640px;}
.x144y640{background-position:-144px -640px;}
.x160y640{background-position:-160px -640px;}
.x176y640{background-position:-176px -640px;}
.x192y640{background-position:-192px -640px;}
.x0y656{background-position:0px -656px;}
.x16y656{background-position:-16px -656px;}
.x32y656{background-position:-32px -656px;}
.x48y656{background-position:-48px -656px;}
.x64y656{background-position:-64px -656px;}
.x80y656{background-position:-80px -656px;}
.x96y656{background-position:-96px -656px;}
.x112y656{background-position:-112px -656px;}
.x128y656{background-position:-128px -656px;}
.x144y656{background-position:-144px -656px;}
.x160y656{background-position:-160px -656px;}
.x176y656{background-position:-176px -656px;}
.x192y656{background-position:-192px -656px;}
.x0y672{background-position:0px -672px;}
.x16y672{background-position:-16px -672px;}
.x32y672{background-position:-32px -672px;}
.x48y672{background-position:-48px -672px;}
.x64y672{background-position:-64px -672px;}
.x80y672{background-position:-80px -672px;}
.x96y672{background-position:-96px -672px;}
.x112y672{background-position:-112px -672px;}
.x128y672{background-position:-128px -672px;}
.x144y672{background-position:-144px -672px;}
.x160y672{background-position:-160px -672px;}
.x176y672{background-position:-176px -672px;}
.x192y672{background-position:-192px -672px;}
.x0y688{background-position:0px -688px;}
.x16y688{background-position:-16px -688px;}
.x32y688{background-position:-32px -688px;}
.x48y688{background-position:-48px -688px;}
.x64y688{background-position:-64px -688px;}
.x80y688{background-position:-80px -688px;}
.x96y688{background-position:-96px -688px;}
.x112y688{background-position:-112px -688px;}
.x128y688{background-position:-128px -688px;}
.x144y688{background-position:-144px -688px;}
.x160y688{background-position:-160px -688px;}
.x176y688{background-position:-176px -688px;}
.x192y688{background-position:-192px -688px;}
.x0y704{background-position:0px -704px;}
.x16y704{background-position:-16px -704px;}
.x32y704{background-position:-32px -704px;}
.x48y704{background-position:-48px -704px;}
.x64y704{background-position:-64px -704px;}
.x80y704{background-position:-80px -704px;}
.x96y704{background-position:-96px -704px;}
.x112y704{background-position:-112px -704px;}
.x128y704{background-position:-128px -704px;}
.x144y704{background-position:-144px -704px;}
.x160y704{background-position:-160px -704px;}
.x176y704{background-position:-176px -704px;}
.x192y704{background-position:-192px -704px;}
.x0y720{background-position:0px -720px;}
.x16y720{background-position:-16px -720px;}
.x32y720{background-position:-32px -720px;}
.x48y720{background-position:-48px -720px;}
.x64y720{background-position:-64px -720px;}
.x80y720{background-position:-80px -720px;}
.x96y720{background-position:-96px -720px;}
.x112y720{background-position:-112px -720px;}
.x128y720{background-position:-128px -720px;}
.x144y720{background-position:-144px -720px;}
.x160y720{background-position:-160px -720px;}
.x176y720{background-position:-176px -720px;}
.x192y720{background-position:-192px -720px;}
.x0y736{background-position:0px -736px;}
.x16y736{background-position:-16px -736px;}
.x32y736{background-position:-32px -736px;}
.x48y736{background-position:-48px -736px;}
.x64y736{background-position:-64px -736px;}
.x80y736{background-position:-80px -736px;}
.x96y736{background-position:-96px -736px;}
.x112y736{background-position:-112px -736px;}
.x128y736{background-position:-128px -736px;}
.x144y736{background-position:-144px -736px;}
.x160y736{background-position:-160px -736px;}
.x176y736{background-position:-176px -736px;}
.x192y736{background-position:-192px -736px;}